/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family:"DistantGalaxy";
    src:  
        url("fonts/distantgalaxy.ttf") format("truetype");
        font-weight:normal;
        font-style:normal;
}


@import "../../node_modules/bootstrap/scss/bootstrap";


$yellow : #fee123;
$blue   : #3cbfaf;
$red    : #ce102c;
$indigo : #201652;
$beige  : #f3dcb3;

  
body {

    background: #151515;
    margin-top: 60px;
}

.login-form {

    max-width: 500px;
    margin: 0 auto;
}

h1.login-title {

    font-size: 4.5rem;
    font-family: 'DistantGalaxy';
    font-weight: 700;
    text-align: center;
    color: $yellow;
}

label {

    font-family: 'DistantGalaxy';
    color: $blue;
}

.bg-starwars {
    background-color: #222222;
}

.form-label-group{

    margin-top: 10px;
}
.form-control {

    border-radius: 0;
}

.btn-starwars {

    color: #fff;
    background-color: $red;
}

.btn-starwars:hover {

    color: #fff;
    background-color: $red;
    opacity: 0.8;
}

.search-container {
    margin: 20px 0;
    color: #fff;
}

.card-starwars {
    margin-bottom: 20px;
    
}

.card-films {
    min-height: 450px;
}

.card-films .card-body p {
    font-size: 0.8rem;
}

.card-starwars h2{
    font-size: 1.4rem;
    font-weight: 700;
    color: $beige;
    font-family: 'DistantGalaxy';
}

.card-starwars .card-header {
    border-color: $yellow;
}
.card-starwars .card-body {
    color: #fff;
}

.card-starwars .card-body span {
    font-size: 0.9rem;
    padding-left: 4px;
    color: $red;
}

.starwars-list-info {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.card-starwars .card-footer a {
    float: right;
    color: $yellow;
    font-family: 'DistantGalaxy';
}

.detail-title {
    color: $beige;
    font-family: 'DistantGalaxy';
}